.badge {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 2px 12px;

  background-color: #fef3c7;
  color: #92400e;
  border-radius: 4px;
}
